.footer-contents{
  position: fixed;
  bottom: 0;
  left: 0;
  color:white;
  background-color: lightblue;
  text-align: center;
  height: 33px;
  width: 100%;
  padding-top: 3px;
  font-size: 15px;
}