
.main{
  display: flex;
  margin: 0;
}

.side-bar{
  width: 30%;
  height: 100%;
  background-color: lavenderblush;
  padding:60px 20px;
  overflow: scroll;
  font-size: 12px;
  color:gray;
}

.main-bar{
  width: 70%;
  min-height: 100%;
}

.main-upper-bar {
  position: fixed;
  height: 100px;
  width: 70%;
  top:60px;
  background-color: seashell;
  padding: 15px 20px;
  font-size: 12px;
}

.search-class{
  margin: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search-form{
  padding: 3px;
  margin: 3px 15px 3px 3px;
  width: 85%;
  height: 30px;
}

.search-submit-btn{
  height: 30px;
  width: 50px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  background-color: darkgrey;
  padding: 4px;
  color: white;
}

.sub-search{
  display: flex;
  justify-content: center;
}

.search-sub-submit-btn{
  font-size: 11px;
  background-color: whitesmoke;
  color: gray;
  border: 1px solid gray;
  border-radius: 3px;
  margin-right: 30px;
  padding: 3px;
}

.main-lower-bar {
  overflow: scroll;
  padding: 160px 20px 0px 20px;
  font-size: 14px;
  height: calc(100% - 30px);
}
.minute{
  border: 1px solid gray;
  margin: 25px;
  font-size: 12px;
  padding: 8px;
}

a{
  text-decoration: none;
  color: black;
}

