
.main{
  display: flex;
  margin: 0;
}

.side-bar{
  width: 30%;
  height: 100%;
  background-color: whitesmoke;
  padding:60px 20px;
  overflow: scroll;
  font-size: 12px;
  color: dimgray;
}

.main-bar{
  width: 70%;
  min-height: 100%;
}

.main-upper-bar {
  position: fixed;
  height: 100px;
  width: 70%;
  top:60px;
  background-color: seashell;
  padding: 20px 20px;
  font-size: 12px;
}

.main-lower-bar {
  overflow: scroll;
  padding: 160px 20px 0px 20px;
  font-size: 14px;
  height: calc(100% - 30px);
}
.minute{
  border: 1px solid gray;
  margin: 25px;
  font-size: 12px;
  padding: 8px;
}

a{
  text-decoration: none;
  color: black;
}

