.user_registration {
  width: 100%;
  height: 100%;
  background-color:white;
  text-align: center;
  padding: 30px;
}

.field_group {
  background-color:lightyellow;
  margin: 20px 150px;
  padding: 20px;
  text-align: center;
}

.field {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  background-color: lemonchiffon;
}

.label_name {
  margin: 10px;
}

.label_form {
  margin: 10px;
}

.form_box {
  width: 20%;
  background:navajowhite;
  border:1px solid grey;
  color: black;
}

